// todo - clean up
@use "sass:math";

$length: 20rem;
$deg: 135deg;
$skewedLength: $length / math.cos($deg);

@function breakpoint($p) {
  @return $length * $p / 100;
}

// todo - transition for gradient color, should fallback basic behavior if unsupported!
.root {
  background-image: repeating-linear-gradient(
    $deg,
    theme("colors.neutral.200") breakpoint(0) breakpoint(20),
    theme("colors.neutral.100") breakpoint(45) breakpoint(55),
    theme("colors.neutral.200") breakpoint(70) breakpoint(100)
  );
  background-size: -2 * $skewedLength;
}

.error {
  background-image: repeating-linear-gradient(
    $deg,
    theme("colors.app.red.100") breakpoint(0) breakpoint(20),
    theme("colors.app.red.50") breakpoint(45) breakpoint(55),
    theme("colors.app.red.100") breakpoint(70) breakpoint(100)
  );
}

@media not (prefers-reduced-motion) {
  .root {
    animation: moving-background 1.5s infinite linear;
  }
  .error {
    animation-duration: 5s;
  }
}

@keyframes moving-background {
  from {
    background-position-x: 0rem;
  }

  to {
    background-position-x: $skewedLength;
  }
}
