@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --font-lato: Lato;
    font-family: theme("fontFamily.lato");
    color: theme("colors.app.green.900");
    background-color: theme("colors.app.green.900");
  }

  button,
  input,
  a {
    outline-color: theme("colors.app.green.900");
  }

  input[list]::-webkit-calendar-picker-indicator {
    visibility: hidden;
  }
}

@media (pointer: fine), (pointer: none) {
  ::-webkit-scrollbar {
    background-color: theme("colors.transparent");
    width: theme("width.1");
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.app.green.500");
    border-radius: theme("borderRadius.full");
  }
}
